.home-Header {
    display: flex;
    align-items: center;
    background-color: #15294B;
    padding: 2.5rem 7rem;
}


.course-id {
    color: white;
    font-size: 2rem;
    font-weight: 400;
    padding-right: 1rem;
}

.course-name {
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.home-Body {
    display: flex;
}

.home-navbar {
    height: 100vh;
    width: 10rem;
    background-color: #15294B;
}

.home-course-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: #F2F6FF;
}

.comp-title {
    font-size: 3rem;
    font-weight: 400;
    margin-left: 7rem;
    
}
