.modale-body{
    display: flex;
}

.moduleInbox{
    height: auto;
    min-height: 100vh;
    padding-top: 1rem;
    background-color: #E0E6F2;
    min-width: 15vw;
    max-width: 15vw;
}
.moduleInbox-item{ 
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.moduleInbox-item:hover, .moduleInbox-item.active{
    background-color: #CAD3E1;
    font-weight: 500;
}

.moduleInbox-item p{ 
   font-size: 1.5rem;
   padding-left: 1rem;
   text-align: left;
}
