/* Left */
.learning-card{
    padding: 0 !important;
    display: flex;
    align-items: flex-start;
    min-width: 78rem;
}
.learning-card-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 5rem 0;
}

.learning-card-leftDetails {
    display: flex;
    align-items: center;
}

.learning-card-leftDetails>img {
    width: 25%;
}

.learning-card-leftDetails p {
    font-size: 1.5rem;
    text-align: left;
    opacity: 0.8;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin: 0 1rem;
}

.learning-card-instructorDetails {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.learning-card-instructorDetails>img {
    width: 3rem;
}

.learning-card-instructorDetails>p {
    font-size: 1.5rem;
    color: #0096FE;
    font-weight: 500;
    margin-left: 1rem;
}

.learning-card-leftStatsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 105%;
    padding-top: 1.5rem;

}

.learning-card-leftStats {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0.5rem 10rem;
}

.learning-card-leftStats>* {
    padding-left: 1rem;
}

.learning-card-leftStats > div >p {
    color: #0096FE;
    text-align: left;
}

.learning-card-leftStatsBar {
    display: block;
    background-color: #ABE0FF;
    height: 8px;
    width: 20rem;
    border-radius: 10px;
    margin-bottom: 2px;
}










/* Right */
.learning-card-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 0 5rem 0;
    border-left: 1px solid #ABE0FF;
}

.learning-card-right>* {
    padding: 0 2rem 2rem 2rem;
    text-align: left;
}

.learning-card-right-dateTime>h3 {
    font-size: 1.6rem;
    font-weight: 500;
}

.learning-card-right-dateTime>p {
    padding-top: 3px;
    font-weight: 300;
}

.learning-card-right-module p {
    font-size: 2rem;
    color: #2C7AFE;
}
.learning-card-right-feedBack{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.learning-card-right-feedBack h3{
    color: #C9C6CC;
    font-size: 1.6rem;
}

.learning-card-right-feedBack p{
    margin-left: 5rem;
    color:  #73ccff;
    font-weight: 600;
    font-style: italic;
}

.learning-card-right-classTime{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.learning-card-right-classTime button{
    border: none;
    background-color: #EFEFEF;
    padding: 1rem 2rem;
    border-radius: 10rem;   
}
.learning-card-right-classTime p{
    font-weight: 400;
    padding-top: 0.8rem; 
    color: gray;
}


